body{
    max-height: 100vh;
}
.up-section{
    border: 3px black solid;
    text-align: center;
    height: 50px;
}
.nav{
    display: flex; 
    justify-content: space-between;
    background-color: black;
    text-align: center;
    height: 50px;
}
/* This is the navigation button group */
.nav-buttons-group{
    width: 400px;
    display: flex;
    justify-content:space-evenly
    ;
    
}

li{
    font-size: 15px
    align-items: center;
    color: white;
    display: inline-block;
}
li:hover{
    font-size: 20px;
    align-items: center;
    color: white;
    display: inline-block;
}
.hero{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://i.pinimg.com/1200x/8c/9c/82/8c9c8250ebbab15f9f7c8f272cf3b12c.jpg);
    text-align: center;
    height: 180px;
}
.main-section{
    
    text-align: center;
    height: 350px;
}
.footer{
    background-color: lightgrey;
    text-align: center;
    height: 80px;
}

